//colores
$pink: rgb(250, 233, 243);
$grafito: #1c1c1c;
$hellow: #ffd700;
$white: #ffff;
$sky: rgb(191, 227, 243);
$red: coral;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;700&display=swap');
$fp:'Baloo Tamma 2', cursive;
$h2: 24px;
$borderg: 1px solid gray;
$bold:bold;
$w-max: 960px;
//display
$in-bl: inline-block;
//width
$w-nav: 840px;
$w-list: 700px;
$w-st: 210px;
$w-sm: 220px;

//breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;





